body {
  padding-top: 40px;
}

.row {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}

.iframe {
    display:block;
    width:100%;
}
